

/* padding goes top right bottom left */

#header {    
    background-color: #EBEFF0;      
    padding: 20px 20px 20px 40px;
    margin-top: 0;
}

#vince-photo {    
    float: right;
    padding: 10px 10px 0px 0px; 
}

h2 a {
    color: #9FCF8F;
    text-decoration: none;
}

h3 a {
    color: #77ABBA;
    text-decoration: none;
}

.date {
    font-weight: bold;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua";
}

.post {
    padding-left: 30px;
    padding-right: 300px;
}

#footer {  
    color: gray;
}